{% extends "videos/layout.html" %}

{% block body %}

    <h2>Profile</h2>
    <br>

    <p>Subscribers:  {{number_of_subscribers}}</p>

    <div id="profileDiv">
        <form action="{% url 'update_information' id=profile_info.id %}" method="POST" class="upload" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="Title" class="form-label">Username</label>
                <input type="text" class="form-control" id="Title" value="{{ profile_info.profile_name }}" name="new_username" required>
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control" id="Description" rows="3" name="new_description"required>{{ profile_info.profile_description }}</textarea>
            </div>
            <button type="submit" value="Upload" class="btn btn-success" id="submitChanges">Submit changes</button>
        </form>
    </div>

    <br>
    <h2>My videos</h2>
    <br>

    {% if videos %}
        <div>
            <div class="row">
                {% for video in videos %}
                    <div class="column">
                        <div class="content">
                            <a href="{% url 'video' title=video.title %}">
                                <figure id="figureprofilesecion">
                                    <img src="{{ video.thumbnail.url }}" class="img-thumbnail" id="thumbnail">
                                    <figcaption>{{ video.title }}</figcaption>
                                    <form action="{% url 'delete_video' id=video.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn" id="delete-button">
                                            <span class="material-symbols-outlined" onclick="return confirm('Are you sure you want to remove this video?')" id="remove-bin">delete</span>
                                        </button>
                                    </form>
                                </figure>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    {% else %}
    <h3>You have not posted any videos</h3>

    {% endif %}

{% endblock %}